#categoryPage{
    
    background-image: url("../img/prod-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

section.categoryTitle_section{
    margin-top: 120px; 
    background-image: url('../img/category-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    .wrapper{
        max-width: 1000px;
    }
    .category_container{
        max-width: 45%;
        width: 100%;
        padding: 30px 0;
        position: relative;
        z-index: 2;
        &_title{
            width: 100%;
            font-size: 28px;
            line-height: 32px;
            border-bottom: 1px dashed #01c6b8;
            color: #343434;
            font-weight: 100;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        &_text{
            margin-bottom: 20px;
            color: #949494;
            font-size: 14px;
            line-height: 25px;
            font-weight: 400;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

main{
    position: relative;
    z-index: 2;
}
section.filter_category{
    // background: #f2f2f2;
    .filter_group{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        flex-wrap: wrap;
        &_item{
            border: none;
            background: transparent;
            color: #949494;
            color: #fff;
            font-size: 14px;
            outline: none;
            cursor: pointer;
            margin: 0 5px;
            transition: all .3s ease-out;
            &.is-checked{
                color: #01c6b8;
            }
        }
    }
    .filter_grid{
        &_item{
            margin-bottom: 20px;
            padding: 0 10px;
            > div{
                background: #fff;
                &:hover{
                    .filter_grid_item_image img{
                        transform: scale(1.2);
                    }
                    .filter_grid_item_image::after{
                        background: rgba(0, 0, 0, 0.2);
                    }
                    .filter_grid_item_title::after{
                        width: 60px;
                    }
                }
            }
            &_cost{
                padding: 10px;
                display: flex;
                justify-content: space-between;
                .box{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    justify-content: space-between;
                    padding: 5px 0;
                    &_text{
                        font-size: 12px;
                        color: #888;
                        &-red{
                            color: #b81733;
                            color: #01c6b8;
                            font-size: 14px;
                        }
                    }
                    &-red{
                        padding: 5px;
                        background: #b81733;
                        background: #01c6b8;
                        .box_text{
                            font-size: 14px;
                            color: #fff;
                        }
                    }
                }
            }
            &_image{
                width: 100%;
                overflow: hidden;
                position: relative;
                display: block;
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    transition: all .3s ease-out;
                    background: rgba(0, 0, 0, 0);
                }
                img{
                    width: 100%;
                    transition: all .3s ease-out;
                }
            }
            &_title{
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                font-size: 16px;
                position: relative;
                &::after{
                    position: absolute;
                    bottom: 0;
                    left: 10px;
                    content: '';
                    height: 2px;
                    background: #01c6b8;
                    width: 30px;
                    transition: all .3s ease-out;
                }
            }
            &_desc{
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                font-size: 12px;
                color: #888;
            }
        }
    }
}