#contactsPage{
    background-image: url("../img/partner-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}
section.contacts_section{
    padding-top: 170px;
    padding-bottom: 100px;
    .wrapper{
        padding-top: 20px;
        padding-bottom: 20px;
        background: rgba(0, 0, 0, 0.5);
        .contacts_text{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            &_title{
                font-size: 14px;
                color: #fff;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            &_adres{
                font-size: 13px;
                color: #fff;
                margin-bottom: 50px;
            }
        }
        .contacts_form{
            display: flex;
            flex-direction: column;
            align-items: center;
            &_title{
                font-size: 14px;
                color: #fff;
                font-weight: bold;
                margin-bottom: 20px;
                text-align: center;
            }
            &_grid{
                &_item{
                    input{
                        width: 100%;
                        color: #666;
                        border: 1px solid #ccc;
                        border-radius: 3px;
                        font-size: 11px;
                        line-height: 28px;
                        padding: 3px;
                        outline: none;
                        margin-bottom: 20px;
                    }
                    textarea{
                        width: 100%;
                        color: #666;
                        border: 1px solid #ccc;
                        border-radius: 3px;
                        font-size: 11px;
                        line-height: 28px;
                        padding: 3px;
                        outline: none;
                        min-width: 120px;
                        max-height: 120px;
                        margin-bottom: 20px;
                    }
                }
            }
            &_btn{
                background: #01c6b8;
                display: inline-block;
                padding: 2px 30px 0px;
                border: 0;
                color: #fff;
                font-size: 18px;
                font-weight: normal;
                line-height: 50px;
                text-align: center;
                text-transform: uppercase;
                vertical-align: middle;
                white-space: nowrap;
                -webkit-transition: all .3s ease-out;
                transition: all .3s ease-out;
                border: 1px solid #01c6b8;
                cursor: pointer;
                margin-top: 20px;
                border-radius: 3px;
                &:hover{
                    color: #01c6b8;
                    background: #fff;
                }
            }
        }
    }
}