#cookiePage{
    // background: #fff;
    background-image: url("../img/partner-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    .wrapper{
        background: rgba(255, 255, 255, 0.6);
    }
}

section.cookie_section{
    padding-top: 150px;
    padding-bottom: 30px;
    .wrapper{
    padding-top: 20px;
    padding-bottom: 20px;
    }
    .cookie_container{
        display: flex;
        align-items: flex-start;
        &_nav{
            max-width: 200px;
            width: 100%;
            border: 1px solid rgba(0,0,0,.075);
            border-radius: 3px;
            margin-right: 40px;
            &_title{
                background-color: #2d6ca2;
                color: #fff;
                padding: 10px 15px;
                text-align: center;
                font-weight: 600;
                border-radius: 3px;
            }
            &_item{
                color: #555;
                padding: 10px 15px;
                font-weight: 600;
                display: block;
                border-bottom: 1px solid rgba(0,0,0,.075);
                &:last-child{
                    border-bottom: none;
                }
            }
        }
        &_box{
            width: 100%;
            &_title{
                font-size: 20px;
                color: #FF6633;
                margin: 0px;
                    margin-bottom: 0px;
                line-height: 23px;
                margin-bottom: 8px;
            }
            &_text{
                font-size: 14px;
                line-height: 1.42857143;
                color: #333;
                margin-bottom: 20px;
                a{
                    color: #2d6ca2;
                }
            }
        }
    }
}