#distributorPage{
    // background: #fff;
    background-image: url("../img/main-backgroundmin.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

section.distributor_section{
    padding-top: 140px;
    .wrapper{
        background: rgba(255, 255, 255, 0.7);
    }
    .dist_container{
        padding-top: 20px;
        &_item{
            &.right_oriented{
                .dist_container_item_title, .dist_container_item_subtitle{
                    text-align: right;
                }
                .dist_container_item_image_box{
                    align-items: flex-end;
                }
                .dist_container_item_form{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }
            }
            &_title{
                font-size: 24px;
                line-height: 30px;
                font-style: normal;
                font-weight: 700;
                color: #343434;
                text-decoration: none;
                margin-bottom: 20px;
                text-transform: none;
                text-align: left;
            }
            &_subtitle{
                font-size: 16px;
                line-height: 20px;
                font-style: normal;
                font-weight: 300;
                color: #01c6b8;
                text-decoration: none;
                margin-bottom: 20px;
                text-transform: none;
                text-align: left;
            }
            &_image{
                transition: all .4s ease-out;
                position: relative;
                &::after{
                    position: absolute;
                    z-index: 1;
                    background: rgba(0, 0, 0, 0.5);
                    content: '';
                    left: 0;
                    right: 0;
                    bottom: 0;
                    transition: all .3s ease-out;
                    top: 0;
                }
                &:hover{
                    // opacity: .7;
                    &::after{
                        opacity: .7;
                    }
                }
                &_item{
                    width: 100%;
                    height: 370px;
                    object-fit: cover;
                }
                &_box{
                    position: absolute;
                    bottom: 30px;
                    left: 30px;
                    right: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    z-index: 2;
                    &_text{
                        font-size: 16px;
                        line-height: 20px;
                        font-style: normal;
                        font-weight: 300;
                        color: #fff;
                        text-decoration: none;
                        margin-bottom: 5px;
                        text-transform: none;
                        text-align: left;
                    }
                    &_title{
                        font-size: 28px;
                        line-height: 30px;
                        font-style: normal;
                        font-weight: 700;
                        color: #fff;
                        text-decoration: none;
                        text-transform: none;
                        text-align: left;
                        position: relative;
                        padding-bottom: 5px;
                        overflow: hidden;
                        span{
                            position: absolute;
                            bottom: 0;
                            left: -100%;
                            width: 100%;
                            height: 2px;
                            transition: all .4s ease-out;
                            background: #01c6b8;
                        }
                    }
                }
            }
            &_desc{
                // color: #949494;
                color: #242424;
                font-size: 14px;
                line-height: 25px;
                font-weight: 400;
                margin: 40px 0;
            }
            &_form{
                .form-check{
                    display: flex;
                    align-items: flex-start;
                    &-input{
                        margin-top: 6px;
                    }
                    &-label{
                        // color: #949494;
                        color: #242424;
                        font-size: 14px;
                        line-height: 25px;
                        font-weight: 400;
                    }
                }
                &_btn{
                    background: #01c6b8;
                    display: inline-block;
                    padding: 2px 20px 0px;
                    border: 0;
                    color: #fff;
                    font-size: 18px;
                    font-weight: normal;
                    line-height: 50px;
                    text-align: center;
                    text-transform: uppercase;
                    vertical-align: middle;
                    white-space: nowrap;
                    -webkit-transition: all .3s ease-out;
                    transition: all .3s ease-out;
                    margin-top: 10px;
                    border: 1px solid #01c6b8;
                    cursor: pointer;
                    margin-bottom: 30px;
                    &:hover{
                        background: transparent;
                        color: #01c6b8;
                    }
                }
                &_grid{
                    margin-right: -5px;
                    margin-left: -5px;
                    width: 100%;
                    &_item{
                        padding-left: 5px;
                        padding-right: 5px;
                        input{
                            width: 100%;
                            padding: 10px 17px;
                            margin-bottom: 20px;
                            // border: 1px solid #e9e9e9;
                            border-top-color: rgb(233, 233, 233);
                            border-top-style: solid;
                            border-top-width: 1px;
                            border-right-color: rgb(233, 233, 233);
                            border-right-style: solid;
                            border-right-width: 1px;
                            border-left-color: rgb(233, 233, 233);
                            border-left-style: solid;
                            border-left-width: 1px;
                            outline: 0;
                            resize: none;
                            font-family: inherit;
                            line-height: 18px;
                            background-color: #f6f6f5;
                            color: #7f8385;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            border-bottom: 2px solid #e4dede;
                            transition: all .3s ease-out;
                            font-style: italic;
                            &:focus{
                                border-bottom-color: #01c6b8;
                            }
                        }
                        textarea{
                            width: 100%;
                            width: 100%;
                            padding: 10px 17px;
                            margin-bottom: 20px;
                            // border: 1px solid #e9e9e9;
                            border-top-color: rgb(233, 233, 233);
                            border-top-style: solid;
                            border-top-width: 1px;
                            border-right-color: rgb(233, 233, 233);
                            border-right-style: solid;
                            border-right-width: 1px;
                            border-left-color: rgb(233, 233, 233);
                            border-left-style: solid;
                            border-left-width: 1px;
                            outline: 0;
                            resize: none;
                            font-family: inherit;
                            line-height: 18px;
                            background-color: #f6f6f5;
                            color: #7f8385;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            box-sizing: border-box;
                            border-bottom: 2px solid #e4dede;
                            transition: all .3s ease-out;
                            max-height: 200px;
                            min-height: 200px;
                            font-style: italic;
                            &:focus{
                                border-bottom-color: #01c6b8;
                            }
                        }
                    }
                }
            }
        }
    }
}
