header.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    .header_container{
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 15%, rgba(255,255,255,0.85) 20%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.95) 30%, rgba(255,255,255,0.98) 35%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 60%, rgba(255,255,255,0.98) 65%, rgba(255,255,255,0.95) 70%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0.85) 80%, rgba(255,255,255,0.8) 85%, rgba(255,255,255,0.05) 99%, rgba(255,255,255,0) 100%);
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 15%,rgba(255,255,255,0.85) 20%,rgba(255,255,255,0.9) 25%,rgba(255,255,255,0.95) 30%,rgba(255,255,255,0.98) 35%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 55%,rgba(255,255,255,1) 60%,rgba(255,255,255,0.98) 65%,rgba(255,255,255,0.95) 70%,rgba(255,255,255,0.9) 75%,rgba(255,255,255,0.85) 80%,rgba(255,255,255,0.8) 85%,rgba(255,255,255,0.05) 99%,rgba(255,255,255,0) 100%);
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 15%,rgba(255,255,255,0.85) 20%,rgba(255,255,255,0.9) 25%,rgba(255,255,255,0.95) 30%,rgba(255,255,255,0.98) 35%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 55%,rgba(255,255,255,1) 60%,rgba(255,255,255,0.98) 65%,rgba(255,255,255,0.95) 70%,rgba(255,255,255,0.9) 75%,rgba(255,255,255,0.85) 80%,rgba(255,255,255,0.8) 85%,rgba(255,255,255,0.05) 99%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
        .wrapper{
            display: flex;
            justify-content: center;
            padding-bottom: 10px;
        }
    }
    .header_bottom{
        background: rgba(0,0,0,0.5);
    }
    .header_list{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_links{
            &_item{
                font-size: 12px;
                line-height: 46px;
                font-weight: 400;
                color: #ffffff;
                text-transform: uppercase;
                text-decoration: none;
                padding: 14px 10px;
                margin: 0 5px;
                transition: all .2s ease-out;
                border-bottom: 1px solid #fff;
                &.active{
                    color: #01c6b8;
                    border-bottom: 1px solid #01d0c1;
                    svg{
                        path{
                            fill: #01d0c1;
                        }
                    }
                }
                &:hover{
                    color: #01c6b8;
                    border-bottom: 1px solid #01d0c1;
                    svg{
                        path{
                            fill: #01d0c1;
                        }
                    }
                }
                svg{
                    width: 13px;
                    height: auto;
                    path{
                        transition: all .2s ease-out;
                    }
                }
            }
        }
        &_lang{
            &_item{
                font-size: 12px;
                line-height: 46px;
                font-weight: 400;
                color: #ffffff;
                text-transform: uppercase;
                text-decoration: none;
                padding: 0 10px;
                transition: all .2s ease-out;
                border-bottom: 1px solid #fff;
                &.active{
                    color: #01c6b8;
                    border-bottom: 1px solid #01d0c1;
                }
                &:hover{
                    color: #01c6b8;
                    border-bottom: 1px solid #01d0c1;
                }
            }
        }
    }
}