@media screen and (max-width: 961px){
    .header_list_links{
        display: none;
    }
    .header_list_lang .text_media {
        display: none;
    }
    header.header .header_list_links_item svg{
        width: 20px;
    }
    .header.header .menu_btn{
        display: block;
    }
}
@media screen and (max-width:768px){
    section.categoryTitle_section .category_container{
        max-width: 100%;
    }
    section.categoryTitle_section::after{
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.5);
        z-index: 1;
    }
    section.product_slider .product_title{
        font-size: 30px;
    }
    section.product_slider .product_subtitle{
        font-size: 24px;
    }
    section.description_product .wrapper .description_title{
        font-size: 30px;
        line-height: 32px;
    }
    section.about_product .about_product_title{
        font-size: 30px;
        line-height: 32px;
    }
    section.review_section .review_container_title{
        font-size: 30px;
    }
    section.review_section .review_container_opinion{
        font-size: 24px;
    }
    section.categoryTitle_section .category_container_text{
        color: #343434;
    }
    section.categoryTitle_section .category_container_title{
        max-width: 350px;
    }
}
@media screen and (max-width:700px){
    section.cookie_section .cookie_container{
        flex-wrap: wrap;
        // justify-content: center;
    }
    section.cookie_section .cookie_container_nav{
        margin-right: 0;
        margin-bottom: 40px;
    }
}
@media screen and (max-width:600px){
    section.services_section .services_container_item .title{
        font-size: 24px;
        line-height: 30px;
    }
    section.cookie_section .cookie_container{
        justify-content: center;
    }
    section.cookie_section .cookie_container_box_title{
        text-align: center;
    }
}

@media screen and (max-width:425px){
    section.services_section .services_container_item{
        flex-direction: column;
        align-items: flex-end;
    }
}


@media screen and (max-height:850px){
    header.header{
        background: #fff;
    }
}