#partnersPage{
    background-image: url("../img/partner-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}
section.partners_section{
    padding-top: 170px;
    padding-bottom: 100px;
    .wrapper{
        max-width: 800px;
    }
    .partners_title{
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 20px;
    }
    .partners_subtitle{
        color: #fff;
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 16px;
    }
    .partners_text{
        color: #fff;
        margin-bottom: 20px;
        font-size: 13px;
    }
    .partners_subtext{
        color: #fff;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 16px;
    }
    .partners_image{
        width: 100%;
        margin-bottom: 20px;
    }
}

.modal_partner{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9;
    opacity: 0;
    transition: all .4s ease-out;
    visibility: hidden;
    overflow: auto;
    &.active{
        opacity: 1;
        visibility: visible;
    }
    &_container{
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        max-width: 1000px;
        width: 100%;
        .carousel-item{
            img{
                width: 100%;
            }
        }
        &_img{
            width: 100%;
        }
        .close_btn{
            position: absolute;
            top: 15px;
            right: 15px;
            width: 30px;
            cursor: pointer;
            z-index: 2;
            border: 1px solid #fff;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 100%;
            padding: 5px;

        }
    }
}