#productItem{
    background-image: url("../img/prod-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}


section.product{
    padding-top: 170px;
    padding-bottom: 100px;
    .wrapper{
        max-width: 1000px;
        padding-top: 15px;
        background-color: rgba( 0, 0, 0, 0.5);
        padding-bottom: 15px;
    }
    .product_title{
        font-size: 30px;
        line-height: 40px;
        color: #fff;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .product_text{
        font-size: 13;
        color: #fff;
        margin-bottom: 10px;
    }
    .product_subtext{
        font-size: 20px;
        color: #fff;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .prod_list{
        &_item{
            padding-left: 15px;
            font-size: 13;
            color: #fff;
            position: relative;
            margin-bottom: 10px;
            &::before{
                position: absolute;
                content: '';
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background: #fff;
            }
        }
    }
    .product_grid{
        &_item{
            margin-bottom: 20px;
            &_img{
                width: 100%;
                cursor: pointer;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .product_list{
        align-items: center;
        &_item{
            &_img{
                width: 100%;
                cursor: pointer;
            }
        }
    }
}