#productsPage{
    background-image: url('../img/main-backgroundmin.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

section.services_section{
    padding-top: 170px;
    padding-bottom: 100px;
    .wrapper{
        max-width: 850px;
    }
    .services_container{
        &_item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: rgba(0,0,0,0.7);
            margin-bottom: 50px;
            padding: 15px;
            box-sizing: border-box;
            transition: all .3s ease-out;
            width: 100%;
            text-decoration: none;
            &:last-child{
                margin-bottom: 0;
            }
            &:hover{
                transform: scale(1.1);
            }
            &_img{
                // max-width: 200px;
                width: 100%;
                height: 240px;
                object-fit: cover;
                margin-top: 20px;
            }
            .desc{
                font-size: 14px;
                line-height: 30px;
                color: #01c6b8;
                font-weight: normal;
                text-align: right;
            }
            .title{
                font-size: 40px;
                line-height: 42px;
                color: #fff;
                font-weight: bold;
                text-align: right;
                margin: 10px 0;
                padding-right: 30px;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    width: 6px;
                    background: #01c6b8;
                }
            }
            .btn{
                border: 1px solid #01c6b8;
                padding: 0 10px;
                border-radius: 0;
                font-size: 14px;
                line-height: 30px;
                color: #01c6b8;
                font-weight: normal;
                text-align: right;
            }
            &_text{
                font-size: 18px;
                line-height: 30px;
                color: #fff;
                font-weight: normal;
                text-align: right;
                max-width: 330px;
                width: 100%;
            }
        }
    }
}

@media screen and (min-width:426px){
    section.services_section .services_container_item_img{
        max-width: 250px;
        margin-top: 0;
    }
}